body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

.folders {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.folder {
    background-color: #ddd;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.folder:hover,
.folder.active {
    background-color: #bbb;
}

#images-container {
    display: none;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05);
}

#to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}

#to-top:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}
